<IfModule mod_rewrite.c>
    RewriteEngine On

    # لو الملف أو الفولدر موجود، خليه يخدمه
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # أي طلب غير موجود يروح للـ React index.html
    RewriteRule ^ index.html [L]
</IfModule>
