.contact-us-page {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  color: #fff;
  background-color: #435292;
  text-align: center;
  gap: 30px;
  padding-top: 53px;
}
.contact-us-page header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 10px;
  gap: 25px;
  align-items: center;
}
.contact-us-page header h6 {
  margin: 0;
  font-size: 14px;
}
.contact-us-page header svg {
  color: #fff;
  font-size: 23;
}

.contact-us-page .banner {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #2e3966;
  padding: 0 10px;
}
.contact-us-page .banner img {
  width: 60%;
}
.contact-us-page .banner .content {
  width: 40%;
}
.contact-us-page .banner .content h2 {
  font-size: 36px;
}
.contact-us-page .banner .content button {
  background-color: #2196f3;
  border: none;
  color: #fff;
  padding: 13px 10px;
  border-radius: 4px;
}


.contact-us-page  .social {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 23px auto;
  width: 95%;
}

.contact-us-page  .social-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}

.contact-us-page  .social-box .arrow {
  font-size: 20px;
}

.contact-us-page  .social-box .icon {
  font-size: 24px;
}

/* Instagram */
.contact-us-page  .social-box.instagram {
  background: linear-gradient(90deg, #d1006f, #ff7a00);
}

/* TikTok */
.contact-us-page  .social-box.tiktok {
  background: #000;
}

/* App Store */
.contact-us-page  .social-box.appstore {
  background: #e8e8e8;
  color: #333;
}

/* Play Store */
.contact-us-page  .social-box.playstore {
  background: #e5e7eb;
  color: #333;
}

/* WhatsApp */
.contact-us-page  .social-box.whatsapp {
  background: #25d366;
}
.contact-us-page .footer{
    margin-top: 60px;
}

.contact-us-page .footer  h6{
    font-size: 11px;
}