.product-details-page {
  margin-bottom: 85px;
}
.product-details-page .header-product-details-page {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;
  background-color: #283158;
  color: #fff;
}
.product-details-page .header-product-details-page svg {
  font-size: 25px;
  color: #fff;
}
.product-details-page .header-product-details-page h6 {
  margin: 0;
  font-size: 12px;
}
.product-details-page .slider-img {
  width: 100%;
  height: 200px; /* أهم نقطة */
  object-fit: cover; /* يملأ المساحة مع قص بسيط */
  display: block;
}
.product-details-page .slider {
  position: relative;
}
.product-details-page .slider .icons {
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px;
}
.product-details-page .slider .icons .views {
  display: flex;
  align-items: center;
}
.product-details-page .slider .icons .share {
  display: flex;
  gap: 5px;
  font-size: 13px;
  background-color: #fff;
}
.product-details-page .slider .icons .share svg {
  font-size: 29px;
}

.product-details-page .slider .icons .share .whatsapp {
  color: #212529;
}

.product-details-page .swiper-button-next,
.product-details-page .swiper-button-prev {
  color: #000; /* لون السهم */
  width: 30px; /* حجم */
  height: 30px;
  background-color: #fff;
  border-radius: 10px;
}
.product-details-page .swiper-button-next svg,
.product-details-page .swiper-button-prev svg {
  width: 20px;
  height: 20px;
}

.product-details-page .swiper-button-next:after,
.product-details-page .swiper-button-prev:after {
  font-size: 22px; /* حجم الأيقونة */
}

.product-details-page .name-product h6 {
  font-size: 12px;
  margin-top: 15px;
}
.product-details-page .attributes {
  display: flex;
  gap: 15px;
  font-size: 12px;
}
.product-details-page .attributes .attribute {
  border: 1px dotted #283158;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}
.product-details-page .comment-vendor {
  background-color: #f9faff;
  margin: 20px 0;
  padding: 15px;
  border-radius: 5px;
}
.product-details-page .comment-vendor span {
  font-size: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.product-details-page .comment-vendor p {
  font-weight: bold;
  font-size: 13px;
  padding: 10px 0;
  margin: 0;
}
.product-details-page .items {
  display: flex;
  flex-direction: column;
}
.product-details-page .items .item {
  display: flex;
  width: 100%;
  margin-top: 20px;
  gap: 15px;
}
.product-details-page .items .item div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details-page .items .item div:first-child {
  border: 1px solid #d6d6d6;
  padding: 10px;
  width: 70%;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
}
.product-details-page .items .item div:last-child {
  background-color: #435292;
  width: 30%;
  color: #fff;
  border-radius: 5px;
  font-size: 11px;
  display: flex;
  gap: 5px;
  align-items: center;
}

/* payments */
.product-details-page .payments {
  background-color: #ebefff;
  margin-top: 42px;
  padding: 10px;
  border-radius: 10px;
}
.product-details-page .payments header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.product-details-page .payments header button {
  background-color: #283158;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
}
.product-details-page .payments header h2 {
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  font-weight: bold;
  font-size: 17px;
  color: #435292;
}
.product-details-page .payments .payment {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 10px 0;
  text-align: center;
}
.product-details-page .payments .payment a {
  color: #fff;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 13px;
}
.product-details-page .payments .payment a:first-child {
  background-color: #c67989;
}
.product-details-page .payments .payment a:last-child {
  background-color: #2b345e;
}

.product-details-page .payments h3 {
  font-size: 10px;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;
}
.product-details-page .payments h3 svg {
  font-size: 23px;
}

.product-details-page .informations {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}
.product-details-page .informations .information {
  display: flex;
  justify-content: space-between;
  margin: 4px 22px;
  gap: 10px;
}
.product-details-page .informations .information h2 {
  font-size: 11px;
  width: 70%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #283158;
  padding: 7px 0;
  border-radius: 8px;
}
.product-details-page .informations .information h3 {
  font-size: 12px;
  width: 30%;
  background: #435292;
  text-align: center;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-overlay-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #33366b;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content-fixed {
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 0;
}
.popup-content-fixed header {
  background-color: #2b2d59;
  display: flex;
  justify-content: center;
  padding: 18px 0;
  margin-bottom: 19px;
}
.popup-content-fixed header h2 {
  font-size: 15px;
}
.popup-content-fixed h4 {
  font-size: 25px;
  padding: 0 10px;
  text-align: center;
}
.popup-content-fixed .items-descrption {
  font-size: 10px;
  padding: 0px 24px;
  margin-top: 53px;
}
.popup-content-fixed .item-descrption {
  display: flex;
  align-items: center;
  gap: 15px;
}
.popup-content-fixed .items-descrption svg {
  font-size: 30px;
}
.popup-content-fixed button {
  margin: 51px 24px;
}

.popup-overlay-dynamic {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #e8eaf6;
  z-index: 9999;
}
.popup-overlay-dynamic header {
  background-color: #435292;
  color: #fff;
  text-align: center;
  padding: 17px 0;
}
.popup-overlay-dynamic header h3 {
  font-size: 15px;
  margin: 0;
}
.popup-overlay-dynamic header button {
  position: absolute;
  right: 5px;
  top: 3px;
  background: none;
  color: #fff;
  border: none;
  font-size: 27px;
}
.popup-overlay-dynamic .image {
  width: 100%;
  height: 150px;
  position: relative;
}
.popup-overlay-dynamic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup-overlay-dynamic .image span {
  position: absolute;
  right: 2px;
  top: 5px;
  background-color: #4caf50;
  z-index: 99;
  font-size: 13px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.popup-overlay-dynamic .popup-overlay-dynamic-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px 10px;
}
.popup-overlay-dynamic .popup-overlay-dynamic-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.popup-overlay-dynamic .popup-overlay-dynamic-item h6 {
  background-color: #283158;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
  font-size: 13px;
}
.quantity-controls {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
.product-details-page .shipping-detials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 34px 0;
  gap: 3px;
}
.product-details-page .shipping-detials .item {
  border: 1px solid #e8e8e8;
  padding: 10px 15px;
  border-radius: 10px;
}
.product-details-page .shipping-detials svg {
  font-size: 41px;
  color: #435292;
}
.product-details-page .shipping-detials h4 {
  font-size: 15px;
  margin: 10px 0;
}

.product-details-page .account-social-media {
  text-align: center;
}

.product-details-page .account-social-media svg {
  color: #435292;
  font-size: 30px;
}
