.footer-mobile {
  display: flex;
  justify-content: space-between;
  background-color: #283158;
  padding: 6px 15px;
  position: fixed;
  bottom: 0;
  z-index: 999999999999;
  width: 100%;
}
.footer-mobile p {
  margin: 0;
  font-size: 11px;
}
.footer-mobile .item {
  display: flex;
  align-items: self-end;
  justify-content: space-between;
}
.footer-mobile .item.added svg {
  background: #435292;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -53px;
  border-radius: 50%;
}
.footer-mobile .item a.footer-link {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  opacity: .6;
}
/* .footer-mobile .item a img {
  width: 28px;
} */

.footer-mobile .item a span {
  position: absolute;
  top: -8px;
  right: -13px;
}
.footer-mobile .item a span.offer-badge {
  right: -32px;
}
.footer-mobile .item:not(.added) svg {
  font-size: 26px;
  margin-bottom: 3px;
}






.footer-link.active {
  opacity: 1 !important;
}

.cart-notification-banner {
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    background-color: #f44336;
    color: white;
    padding: 12px  15px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
    z-index: 1001;
    animation: slideUp 0.3s ease-out;
    transition: transform 0.2s, background-color 0.2s;
}

.cart-notification-banner:hover {
    transform: translateX(-50%) translateY(-2px);
    background-color: #e53935;
}

.cart-notification-banner:active {
    transform: translateX(-50%) scale(0.98);
}



.cart-notification-price {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 12px;
}

.cart-notification-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: bold;
}

.cart-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.banner-close-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  background-color: #000; /* Red color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1002;
}

